### C++ ###
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

### Qt ###
# Qt-es
CMakeLists.txt.user
*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile
*-build-*

# Qt-creator
debug
release
client/build
src/build-*

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Emacs crap
*~

# Tags

GPATH
GRTAGS
GTAGS